Source: zulip-desktop
Section: comm
Priority: extra
Maintainer: Zulip <support@zulip.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 libqt4-dev,
 libqtwebkit-dev,
 libphonon-dev
Standards-Version: 3.9.2
Homepage: https://zulip.com/apps

Package: zulip-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zulip desktop client
 This package provides a thin wrapper around the Zulip web application,
 providing native integrations with the desktop.
